.page-navigation {
  height: 5em;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  border-top: 1px solid #e5e5e5;
  font-size: 16px;
}

h1 {
  line-height: 2em;
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 18px;
}

.navbar-container{
  width: 60em;
  padding: 0 0.5em;
}

.nav-items{
  display: inline-block;
  float: right;
  a {
    margin: 0 10px;

    &.btn{
      font-size: 14px;
    }
  }
}

.btn-logout:hover fa {
  color: #ffffff !important;
}
