<header class="page-navigation">
  <main class="navbar-container">
    <h1 class="font-weight-normal"> Reembolso Azul </h1>
    <nav class="nav-items align-right">
      <ng-template *ngIf="logado; then loggedIn else notLogged"></ng-template>
    </nav>
  </main>
</header>

<ng-template #loggedIn>
  <a class="text-dark" [routerLink]="['/home']">Reembolsos</a>
  <a class="text-dark" [routerLink]="['/empresa']">Empresa</a>
  <a class="text-dark" [routerLink]="['/perfil']">Perfil</a>
  <a class="btn btn-outline-primary btn-logout" href="javascript:void(0)" (click)="onClick()"><fa name="sign-out" class="fa-lg text-primary"></fa>&nbsp;Sair</a>
</ng-template>
<ng-template #notLogged>
  <a class="btn btn-outline-primary" [routerLink]="['/login']">Login</a>
  <a class="btn btn-outline-primary" [routerLink]="['/registrar']">Cadastre-se</a>
</ng-template>
