.login-container {
  margin: 0 auto;
  min-width: 200px;
  max-width: 400px;
  border-radius: 4px;
  background-color: #F1F4F9;
  margin-top: 4em;
  margin-bottom: 5em;
}

.card-body {
  margin: 0px 20px 0px 20px;
}

.alert-list {
  font-size: 14px;
  padding: 0 0 0 20px;
  margin: 0;
}

.login-control {
  font-size: 16px;
  width: 100%;
  padding: 10px;
  border: 1px solid #C9D3DD;
  border-radius: 3px;
  background-color: #fff;
}

.login-form-row {
  margin: 20px 0 20px 0;
}

.login-links {
  font-size: 16px;
  div{
    min-width: 11em;
    padding: 0;
  }
}

.form-signin label {
  margin-top: 10px;
  font-size: 14px;
}

.custom-radio {
  margin-left: 5px;
}
#floating-footer{
  padding: 1em 2em 1em 4em;
  margin: 0 auto;
  margin-top: 2em;
  width: 40em;
  border-top: 1px solid #e5e5e5;
}
