<loginCard [errors]="[]">
    <div title>Recuperação de senha</div>
    <div body>
        <form class="form-signin" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

            <div class="row mt-3 mb-3">
                <label for="new-password">Nova senha</label>
                <input type="password" formControlName="password" id="new-password" class="login-control" required>
            </div>
            <div class="row mt-3 mb-3">
                <label for="new-password-confirm">Confirmar nova senha</label>
                <input type="password" formControlName="confPassword" id="new-password-confirm" class="login-control" required>
            </div>

            <div class="row mt-5 mb-4">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Salvar senha</button>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <a [routerLink]="['/login']" class="no-style">Login</a>
                </div>
                <div class="col-md-6 ">
                    <a [routerLink]="['/registrar']" class="no-style">Quero me cadastrar</a>
                </div>
            </div>
        </form>
    </div>
</loginCard>
