<div></div>
<div class="card login-container">
    <div class="card-body">
        <h4 class="card-title text-center mt-0 mb-4">Email Enviado</h4>

        <form class="form-signin">
            <div class="row mt-4">
                <p class="card-text">
                    Enviamos um link para seu email, por favor acesse ele para realizar a troca de senha
                </p>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <a [routerLink]="['/login']" class="no-style">Login</a>
                </div>
                <div class="col-md-6 ">
                    <a [routerLink]="['/registrar']" class="no-style">Quero me cadastrar</a>
                </div>
            </div>
        </form>
    </div>
</div>

<footer id="floating-footer">
    <div class="row">
        <div class="col-5">
            Desenvolvido por uma galera top
        </div>
        <div class="col-3">
        </div>
        <div class="col-4">
            <h5>Patrocinadores:</h5>
            <div>ContaAzul</div>
            <div>Code:Nation</div>
        </div>
    </div>
</footer>