.modal-form {
    input,
    select {
        font-size: 14px;
        width: 100%;
        padding: 5px 10px;
        border: 1px solid #C9D3DD;
        border-radius: 2px;
        background-color: #F1F4F9;
        color: #495057;
    }

    label{
        margin: 15px 0 5px 0;
    }
}

.form-control {
    background-color: #F1F4F9;
}

[footer] .btn{
    margin-left: 10px;
}

.input-group {
    position: relative;
    width: 100%;
}

.input-group-append {
    background-color: #ffffff;
    position: absolute;
    right: 0;
    .btn {
        height: 2.4em;
    }
}

.input-group-text {
    text-align: left;
    width: 90%;
}
