<RefundModal title="{{mode}} Reembolso">
    <div main>
        <p>Preencha as informações abaixo para solicitar reembolso:</p>
        <form class="modal-form" [formGroup]="form" (ngSubmit)="tantofaz='ble'" id="createRefund">
            <div class="row mt-1 mb-1">
                <div class="col-12">
                    <label for="input-titulo">Título</label>
                    <input type="text" formControlName="name" id="input-titulo" placeholder="Ex: Viagem para Bahia" required>
                </div>
            </div>

            <div class="row mt-1 mb-1">
                <div class="col-6">
                    <label for="input-categoria">Categoria</label>
                    <select formControlName="category" class="custom-select">
                        <option selected>Selecione uma categoria</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-6">
                    <label for="input-data">Data</label>
                    <div class="input-group">
                        <input id="input-data" formControlName="date" class="form-control" placeholder="yyyy-mm-dd" ngbDatepicker #dp="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="dp.toggle()" type="button">
                            <img src="assets/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-1 mb-1">
                <div class="col-6">
                    <label for="input-valor">Valor</label>
                    <input type="text" formControlName="value" id="input-valor" placeholder="Ex: 49,90" required>
                </div>
            </div>

            <div class="row mt-1 mb-1">
                <div class="col-6">
                    <label for="input-valor">Comprovante</label>
                    <button type="button" class="btn btn-secondary btn-sm">Adicionar comprovante</button>
                </div>
            </div>
        </form>
    </div>
    <div footer>
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cancelar</button>
        <button type="submit" form="createRefund" class="btn btn-primary">Enviar</button>
    </div>
</RefundModal>
    
