.content-card {
  margin: 0 auto;
  min-width: 200px;
  max-width: 400px;
  border-radius: 4px;
  background-color: #F1F4F9;
  margin-top: 10em;
  margin-bottom: 5em;
}
  
.card-body {
  margin: 0px 20px 0px 20px;
}

.alert-list {
  font-size: 14px;
  padding: 0 0 0 20px;
  margin: 0;
}
  