<loginCard [errors]="[]">
    <div title>Recuperação de senha</div>

    <div body>
    <form class="form-signin" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

        <div class="row mt-4">
            <p class="card-text">Para recuperar sua senha, preencha o formulário abaixo. Após, um email contendo as instruções para recuperação de senha será enviado.
            </p>
        </div>
        
        <div class="row mt-3 mb-3">
            <label for="input-email">Email da conta existente</label>
            <input type="email" id="input-email" class="login-control" required>
        </div>

        <div class="row mt-4 mb-4">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Recuperar senha</button>
        </div>
    </form>
    </div>
</loginCard>
