.view-data {
    min-height: 300px;
    min-width: 300px;
}

.view-data .label {
    margin: 15px 0 5px 0;
    font-weight: bold;
}

.field-value {
    font-size: 16px;
    margin: 0 0 10px 5px;
}

[footer] .btn {
    margin-left: 10px;
}

.btn:hover fa {
    color: #ffffff !important;
}
