<RefundModal title="Visualizar Reembolso">
    <div main class="view-data">
        <div class="row mt-1 mb-1">
            <div class="col-12">
                <p class="label">Título</p>
                <p class="field-value">{{data.name}}</p>
            </div>
        </div>

        <div class="row mt-1 mb-1">
            <div class="col-6">
                <p class="label">Categoria</p>
                <p class="field-value">{{data.categoryFriendly}}</p>
            </div>
            <div class="col-6">
                <p class="label">Data</p>
                <p class="field-value">{{data.date}}</p>
            </div>
        </div>

        <div class="row mt-1 mb-1">
            <div class="col-6">
                <p class="label">Valor</p>
                <p class="field-value">R$ {{data.value}}</p>
            </div>
        </div>

        <div class="row mt-1 mb-1">
            <div class="col-6">
                <p class="label">Comprovante</p>
                <p class="field-value" [innerHTML]="getUploadFile()"></p>
            </div>
        </div>
    </div>
    <div footer>
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Fechar</button>
        <ng-template *ngIf="authService.isAdmin(); then isAdmin else notAdmin"></ng-template>
        <button type="button" class="btn btn-primary" (click)="activeModal.close(''); changeToEditModal();">Alterar</button>
    </div>
</RefundModal>

<ng-template #notAdmin>
    <button type="button" class="btn btn-primary" (click)="activeModal.close(''); changeToEditModal();">Alterar</button>
</ng-template>

<ng-template #isAdmin>
        <button type="button" class="btn btn-outline-danger btn"><fa name="times-circle" class="fa-lg text-danger"></fa> &nbsp;Recusar</button>
        <button type="button" class="btn btn-outline-success btn"><fa name="check-circle" class="fa-lg text-success"></fa> &nbsp;Aprovar</button>
</ng-template>
