
<loginCard [errors]="errors">
    <div title>Reembolso ContaAzul</div>

    <div body>
        <form class="form-signin" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
            <div class="row mt-3 mb-3">
                <input formControlName="email" type="email" id="inputEmail" class="login-control" placeholder="Email" required autofocus>
            </div>

            <div class="row mt-3 mb-3">
                <input formControlName="password" type="password" id="inputPassword" class="login-control" placeholder="Senha" required>
            </div>

            <div class="row mt-4 mb-4">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
            </div>

            <div class="login-links row justify-content-between">
                <div class="row">
                    <div class="col-md-6">
                        <a [routerLink]="['/perdi-senha']" class="no-style">Esqueceu sua senha?</a>
                    </div>
                    <div class="col-md-6 text-right">
                        <a [routerLink]="['/registrar']" class="no-style">Quero me cadastrar</a>
                    </div>
                </div>
                
            </div>
        </form>
    </div>
</loginCard>
