<!--
<mat-card class="login-card">
    <mat-card-header>
        <mat-card-title>
            <h2>
                <mat-icon>dashboard</mat-icon>Reembolso
            </h2>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
            <mat-form-field class="example-full-width">
                <input matInput formControlName="usuario" name="usuario" placeholder="Usuário">
                <mat-error *ngIf="usuario.touched && usuario.invalid">
                    <div *ngIf="usuario.errors.required">Usuário é
                        <strong>obrigatório</strong>
                    </div>
                    <div *ngIf="usuario.errors.minlength">Usuário precisa ter no mínimo {{usuario.errors.minlength.requiredLength}} caracteres</div>
                    <div *ngIf="usuario.errors.temEspacosEmBranco">Não pode conter espaços em branco</div>
                    <div *ngIf="usuario.errors.jaExisteP">Este nome ja existe</div>

                </mat-error>
                <mat-error *ngIf="form.errors != null && form.errors.usuarioinvalido">Usuário inválido</mat-error>
                <mat-hint *ngIf="usuario.pending">
                    Verificando duplicidade...
                </mat-hint>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput formControlName="senha" type="password" placeholder="Senha">
                <mat-error *ngIf="senha.touched && senha.invalid">
                    <div *ngIf="senha.errors.invalido">Senha inválida</div>
                </mat-error>
            </mat-form-field>
            <button [disabled]="form.invalid || form.pending" class="btn-login" type="submit" mat-raised-button color="primary">LOGIN</button>
        </form>
    </mat-card-content>
</mat-card>
-->

<div class="card login-container">
    <ngb-alert type="danger" class="text-center" *ngIf="!closed" (close)="closed=true">
        <ul class="alert-list text-center">
            <li>Usuário ou senha não encontrada!</li>
        </ul>
    </ngb-alert>
    <div class="card-body">
        <h4 class="card-title text-center mt-0 mb-4">Reembolso ContaAzul</h4>

        <form class="form-signin" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
            <div class="row mt-3 mb-3">
                <input formControlName="email" type="email" id="inputEmail" class="login-control" placeholder="Email" required autofocus>
            </div>

            <div class="row mt-3 mb-3">
                <input formControlName="password" type="password" id="inputPassword" class="login-control" placeholder="Senha" required>
            </div>

            <div class="row mt-4 mb-4">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
            </div>
            <div class="login-links row justify-content-between">
                <div class="col-6">Esqueceu sua senha?</div>
                <div class="col-5 text-right">Quero me cadastrar</div>
            </div>

        </form>
    </div>
</div>

<footer id="floating-footer">
    <div class="row">
        <div class="col-5">
            Desenvolvido por uma galera top
        </div>
        <div class="col-3">
        </div>
        <div class="col-4">
            <h5>Patrocinadores:</h5>
            <div>ContaAzul</div>
            <div>Code:Nation</div>
        </div>
    </div>
</footer>