<contentCard>

    <div class="optional-btn" before>
        <button type="button" class="btn btn-success btn-lg">Aprovar</button>
        <button type="button" class="btn btn-danger btn-lg">Recusar</button>
    </div>

    <div title>Reembolsos disponíveis</div>

    <div body>
        <table class="table table-hover" *ngIf="refundList.length > 0; else empty_message">
            <thead>
                <tr>
                    <th scope="col" class="checkbox-column">
                        <div class="form-check">
                            <input class="form-check-input position-static" type="checkbox" id="header-checkbox">
                        </div>
                    </th>
                    <th scope="col">Reembolso</th>
                    <th scope="col" class="text-center">Status</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Usuário</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let refund of refundList; let i = index">
                    <td>
                        <div class="form-check">
                            <input class="form-check-input position-static" [attr.checkbox-index]="i" type="checkbox">
                        </div>
                    </td>
                    <td>{{ refund.titulo }}</td>
                    <td>{{ refund.status }}</td>
                    <td>R$ {{ refund.valor }}</td>
                    <td>{{ refund.categoria }}</td>
                    <td>anonimo</td>
                </tr>
            </tbody>
        </table>

        <ng-template #empty_message>
            <h4 class="text-center mt-5 mb-5">Não foram encontrados reembolsos</h4>
        </ng-template>
        <div class="row no-gutters">
            <div class="col-6">
                <button type="button" class="btn btn-primary btn-lg" (click)="openModal()">Criar Reembolso</button>
            </div>
            <div class="col-6">
                <p>Exibindo 10 de 25 registros</p>
            </div>
        </div>
    </div>
</contentCard>
