<contentCard>

    <div title>Reembolsos disponíveis</div>

    <div class="optional-btn" before>
        <ng-container *ngIf="authService.isAdmin()">
            <button type="button" class="btn btn-outline-success btn"><fa name="check-circle" class="fa-lg text-success"></fa> &nbsp;Aprovar</button>
            <button type="button" class="btn btn-outline-danger btn"><fa name="times-circle" class="fa-lg text-danger"></fa> &nbsp;Recusar</button>
        </ng-container>
    </div>

    <div body>
        <table class="table table-hover" *ngIf="refundList.length > 0; else empty_message">
            <thead>
                <tr>
                    <ng-container *ngIf="authService.isAdmin()">
                        <th scope="col" class="checkbox-column">
                            <div class="form-check">
                                <input class="form-check-input position-static" [(ngModel)]="checkboxes" type="checkbox" id="header-checkbox">
                            </div>
                        </th>
                    </ng-container>
                    <th scope="col">Reembolso</th>
                    <th scope="col" class="status-column">Status</th>
                    <th scope="col" class="text-right">Valor</th>
                    <th scope="col" class="text-right">Categoria</th>
                    <ng-container *ngIf="authService.isAdmin()">
                        <th scope="col" class="text-right">Usuário</th>
                    </ng-container>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let refund of refundList; let i = index">
                    <ng-container *ngIf="authService.isAdmin()">
                        <td>
                            <div class="form-check">
                                <input class="form-check-input position-static" [(ngModel)]="checkboxes" [attr.checkbox-index]="i" type="checkbox">
                            </div>
                        </td>
                    </ng-container>
                    <td>{{ refund.name }}</td>
                    <td class="text-center"><RefundStatus status="{{ refund.refundStatus }}"></RefundStatus></td>
                    <td class="text-right">R$ {{ refund.value }}</td>
                    <td class="text-right">{{ refund.refundCategory }}</td>
                    <ng-container *ngIf="authService.isAdmin()">
                        <td class="text-right">{{ refund.user }}</td>
                    </ng-container>
                    <td class="open-popup" (click)="viewRefundModal(refund)">[ + ]</td>
                </tr>
            </tbody>
        </table>

        <ng-template #empty_message>
            <h4 class="text-center mt-5 mb-5">Não foram encontrados reembolsos</h4>
        </ng-template>
        <div class="row no-gutters">
            <div class="col-6">
                <button type="button" class="btn btn-primary btn-lg create-refund" (click)="createRefundModal()">Criar Reembolso</button>
            </div>
            <div class="col-6">
                <p class="box-info text-right">Exibindo {{refundList.length}} resultados</p>
            </div>
        </div>
    </div>
</contentCard>
