html{
  height:100%;
}

body{
  margin: 0 auto;
  position: relative;
  min-height: 100%;
  background: #F9F9FA;
}

#header{
  height: 3em;
  background: #FFF;
}

#footer{
  background: cornflowerblue;
  position: absolute;
  bottom: 0;
  height: 3em;
  width: 100%;
}


