/* You can add global styles to this file, and also import other style files */

@import "~ngx-toastr/toastr.css";

html,
body {
  min-height: 100%;
  color: #385A7B;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #fff;
}

a.no-style {
  color: #385A7B;
}

h1, h2, h3, h4, h5 {
  color: #2687E9;
}
